/* .popup-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
} */

.popup-container.show {
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-message {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

/* .popup-container {
  display: none;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
} */

.popup-container {
  display: none;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translate(-50%, calc(100% + 10px));
  background-color: white;
  padding: 10px;
  border: 1px solid black;
  z-index: 9999;
}

.popup-arrow {
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid black;
}
